body{
  	width: 100%;
  	background-image: url('/img/gradientShape.png');
  	background-repeat: no-repeat;
  	padding: 20px 20px 20px;
  	font-family: 'Prociono';
	font-style: normal;
	font-weight: 400;
}

.navbar{
	border-radius: 20px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), #CCD1E4;
}

.navbar-brand{
	padding: 5px;
	font-size: 30px;	
	align-items: center;
	text-align: center;
}

.navbar-nav{
	font-size: 16px;
}

.btn{
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bingkai{
	margin-top: 40px;
	position: sticky;
	width: 884px;
	height: 535px;
	left: 563px;
	top: 396px;

	filter: drop-shadow(0px 16px 24px rgba(17, 37, 62, 0.16));
	backdrop-filter: blur(20px);
}

.left-bot{
	position: relative;
	width: 108.12px;
	height: 33px;
	left: 143px;
	top: 400px;
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}