h1{

    text-align: center;
    color: #0dccc6;
    font-weight: bold;
}

img{
    max-width: 100%;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}
.obat{
    margin-top: 90px;
}
.price{
    color: gold;
}